  html {
    background-color: #c245b8;
 }

  h1 {
    font-weight: normal; /* normal, bold */
    font-size: 5rem;
    font-style: italic; /* normal, italic */
    font-family: 'Indie Flower', cursive;
  }
